.header {
    background: linear-gradient(#493e3a, #202020);
    padding: 28px 0;

    &__list {
        display: inline-flex;
        list-style-type: none;
        margin-right: 25px;
    }

    &__items {
        margin-right: 64px;
    }


    &__item {
        text-decoration: none;
        color: #d9b4a5;
        font-family: var(--font-sourceSerifPro);
        font-size: 25px;
        letter-spacing: 2px;
    }
}

.container-menu {
    max-width: 1866px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1765px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.banner {
    background: #212121 url('static/images/banner.jpg') no-repeat;
    padding: 165px 0 125px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;

    &__content {
        text-align: center;
        width: 60%;
    }

    &__title {
        color: #fff;
        text-transform: uppercase;
        font-family: var(--font-cambria);
        font-weight: normal;
        font-size: 68px;
        letter-spacing: 2px;
        margin-bottom: 100px;
    }

    &__subtitle {
        color: #e8b19c;
        text-transform: uppercase;
        font-family: var(--font-cambria);
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 2px;
        margin-bottom: 115px;
    }

    &__text {
        color: #f2c6bd;
        display: inline-block;
        font-family: var(--font-cambria);
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 66px;
        font-size: 36px;
    }
}

.video {
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 52px;

    &__border {
        display: block;
        margin: 0 auto 64px;
    }

    &__container {
        position: relative;
        // border: solid 1px #d8b4a6;
        display: inline-block;
        width: 1300px;
        margin-bottom: 80px;

        // &:before {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     border: solid 1px #d8b4a6;
        //     width: 800px;
        //     height: 526px;
        //     z-index: 10;
        // }
    }

    &__text {
        color: #dbd6d6;
        font-size: 20px;
        text-align: left;
        line-height: 31px;
    }
}

.advantages {
    &__title {
        color: #e8b19c;
        font-size: 35px;
        text-align: center;
        width: 61%;
        margin: 0 auto 39px;
        font-weight: 400;
    }

    &__border-line {
        margin-bottom: 29px;
    }

    &__block-1,
    &__block-3,
    &__block-5 {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        padding-top: 15px;
    }

    &__block-1_content,
    &__block-3_content,
    &__block-5_content {
        margin-right: 53px;
        padding-top: 11px;
        position: relative;
    }

    &__block-1_image,
    &__block-2_image,
    &__block-3_image,
    &__block-4_image,
    &__block-5_image,
    &__block-6_image {
        width: 602px;
        height: 457px;
    }

    &__block-1_title,
    &__block-3_title,
    &__block-5_title {
        text-align: right;
        color: #e8b19c;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    &__block-1_text,
    &__block-3_text,
    &__block-5_text {
        color: #f4e7de;
        font-size: 25px;
        line-height: 31px;
    }

    &__block-1_container,
    &__block-3_container,
    &__block-5_container {
        text-align: left;
    }

    &__block-1_border,
    &__block-2_border,
    &__block-3_border,
    &__block-4_border,
    &__block-5_border,
    &__block-6_border {
        position: absolute;
        bottom: -49px;
    }

    &__block-1_image-box {
        position: relative;

        &::after {
            content: 'Картинка № 1';
            position: absolute;
            top: 0;
            left: 10%;
            color: #f4e7de;
            text-transform: uppercase;
            font-size: 70px;
            z-index: 10;
        }
    }

    &__block-3_image-box {
        position: relative;

        &::after {
            content: 'Картинка № 3';
            position: absolute;
            top: 0;
            left: 10%;
            color: #f4e7de;
            text-transform: uppercase;
            font-size: 70px;
            z-index: 10;
        }
    }

    &__block-5_image-box {
        position: relative;

        &::after {
            content: 'Картинка № 5';
            position: absolute;
            top: 0;
            left: 10%;
            color: #f4e7de;
            text-transform: uppercase;
            font-size: 70px;
            z-index: 10;
        }
    }

    &__block-2,
    &__block-4 {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        padding-top: 84px;
        margin-bottom: 84px;
    }

    &__block-6 {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        padding-top: 84px;
        margin-bottom: 50px;
    }

    &__block-2_content,
    &__block-4_content,
    &__block-6_content {
        margin-left: 53px;
        padding-top: 11px;
        position: relative;
    }

    &__block-2_container,
    &__block-4_container,
    &__block-6_container {
        text-align: left;
    }

    &__block-2_title,
    &__block-4_title,
    &__block-6_title {
        text-align: right;
        color: #e8b19c;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    &__block-2_text,
    &__block-4_text,
    &__block-6_text {
        color: #f4e7de;
        font-size: 25px;
        line-height: 31px;
    }

    &__block-2_image-box {
        position: relative;

        &::after {
            content: 'Картинка № 2';
            position: absolute;
            top: 0;
            left: 10%;
            color: #f4e7de;
            text-transform: uppercase;
            font-size: 70px;
            z-index: 10;
        }
    }

    &__block-4_image-box {
        position: relative;

        &::after {
            content: 'Картинка № 4';
            position: absolute;
            top: 0;
            left: 10%;
            color: #f4e7de;
            text-transform: uppercase;
            font-size: 70px;
            z-index: 10;
        }
    }

    &__block-6_image-box {
        position: relative;

        &::after {
            content: 'Картинка № 6';
            position: absolute;
            top: 0;
            left: 10%;
            color: #f4e7de;
            text-transform: uppercase;
            font-size: 70px;
            z-index: 10;
        }
    }

}

.help {
    text-align: center;
    padding-bottom: 25px;

    &__border-line {
        margin-bottom: 40px;
    }

    &__title {
        color: #e8b19c;
        font-weight: 400;
        font-size: 43px;
        margin-bottom: 46px;
    }

    &__text,
    &__list_item {
        margin-bottom: 30px;
    }

    &__text,
    &__list {
        color: #f4e7de;
        text-align: left;
        font-size: 34px;
        line-height: 33px;
    }

    &__list {
        list-style-type: none;
    }

    &__text a {
        text-decoration: none;
        color: #f4e7de;
    }
}

.specifications {
    text-align: center;
    padding-bottom: 45px;

    &__border-line {
        margin-bottom: 40px;
    }

    &__title {
        text-transform: uppercase;
        color: #e8b19c;
        font-weight: 400;
        font-size: 43px;
        margin-bottom: 46px;
    }

    &__list {
        list-style-type: none;
        color: #f4e7de;
        text-align: left;
        font-size: 34px;
        line-height: 33px;
    }

    &__list_item {
        margin-bottom: 22px;
    }
}

.conditions {
    text-align: center;
    padding-bottom: 45px;

    &__border-line {
        margin-bottom: 40px;
    }

    &__title {
        color: #e8b19c;
        font-weight: 400;
        font-size: 43px;
        margin-bottom: 46px;
    }

    &__list {
        list-style-type: none;
        color: #f4e7de;
        text-align: left;
        font-size: 34px;
        line-height: 33px;
    }

    &__list_item {
        margin-bottom: 22px;
    }
}

.price {
    text-align: center;
    padding-bottom: 300px;

    &__border-line {
        margin-bottom: 60px;
    }

    &__title {
        text-transform: uppercase;
        color: #e8b19c;
        font-weight: 400;
        font-size: 45px;
        line-height: 60px;
        margin-bottom: 33px;
    }

    &__value_box {
        margin-bottom: 40px;
    }

    &__value {
        color: #e8b19c;
        font-weight: 400;
        font-size: 72px;
    }

    &__money {
        color: #e8b19c;
        font-weight: 400;
        font-size: 43px;
    }

    &__buy-btn {
        text-decoration: none;
        background: none;
        padding: 0;
        border: none;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 486px) {}

@media screen and (max-width: 320px) {}