body {
    margin: 0;
    background: #212121;
    font-family: var(--font-cambria);
    font-weight: normal;
    letter-spacing: 2px;
}

a,
div,
h1,
h2,
h3,
img,
p,
span,
ul,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

@import "./variables.scss";